<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<style>
    .box { height: 50px;  width: 100%; }
#first { margin-top: 20px; }
h1.box {  margin-bottom: 50px;  }
</style>
<head>
    <meta charset="UTF-8">
    <title >Individual Ticket</title>
</head>


<body>

<h1>Zendesk Ticket List Viewer</h1>

<h2 th:text = "'Ticket #' + ${ticket.id}">Ticket</h2>
<h3 th:text = "'Requester: ' + ${ticket.requesterId}"></h3>
<h4 class="box" th:text=${ticket.subject}></h4>

<div class = "box" th:text = ${ticket.description}>

</div>

<div>
    <p>
        <a th:href="@{/ticketViewer}" th:text="#{msg.home}"></a>
    </p>
</div>

</body>
</html>